ONEENTRY_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoidG9rZW4iLCJzZXJpYWxOdW1iZXIiOjEsImlhdCI6MTc4NTUyMjg3NCwiZXhwIjoxODE3MDU4ODU3fQ.dclnxRpVTDBwxCbw8gQhbcL47smglBI75b108p0jp9A
ONEENTRY_PROJECT_URL=https://ecommerce-next.oneentry.cloud
